body {
    background-color: black;
}
div{
    text-align: center;
}
h1 {
color:white;
}
button{
    height: 5.2em;
    width: 5.5em;
    border: none;
    color: white;
}
button:hover{
    cursor:pointer;
}
.short-break {
 background-color: brown;
}
.long-break {
    background-color: blueviolet;
}
.start-button {
   background-color: green;

}

